@import "vars";
@import "mixin";

// sass list  (a.k.a js array)
$colors: (rgb(228, 121, 0), rgb(26, 224, 0), rgb(5, 147, 212), rgb(156, 6, 216), rgb(206, 24, 39), rgb(138, 51, 1));

html {
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  // prettier-ignore
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), 
                                                     rgba(255, 255, 255, 0.05) 1px, 
                                                       0, transparent 50px);
  background-color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}

#header {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  z-index: 99;
  h1 {
    font-weight: 300;
    font-size: 18px;
    @include longShadow(#ccc, 50);
    text-transform: uppercase;
    strong {
      font-weight: 700;
    }
  }
}
#main {
  padding: 150px 100px 50px;
  #search {
    width: 800px;
    background-color: #fff;
    margin: 0 auto 50px;
    display: flex;
    padding: 15px 50px;
    border-radius: 100px;
    justify-content: space-between;
    input {
      flex-grow: 1;
      height: 50px;
      box-sizing: border-box;
      border: none;
      outline: none;
      font-size: 20px;
    }
    button {
      width: 50px;
      height: 50px;
      border: none;
      outline: none;
      background: none;
      span {
        font-size: 48px;
      }
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 10px;
      background-color: #fff;
      margin: 10px;
      width: calc(20% - 20px);
      box-sizing: border-box;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
      img {
        width: 100%;
      }
      .date {
        margin-top: 10px;
      }
    }
  }
}
